@import url('normalize.css');
@import url('main.css');
@import url('menu.css');
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;800&family=Raleway:wght@700&display=swap');


:root {
  --color-primary: #114E82;
  --color-secondary: #fffdff;
  --color-black: #3a3a3a;
  --duration: 1s;
  --nav-duration: calc(var(--duration) / 4);
  --ease: cubic-bezier(0.215, 0.61, 0.355, 1);
  --space: 1rem;
  --font-primary: 'Mulish', sans-serif;
  --font-heading: 'Raleway', sans-serif;
  --font-size: 1.125rem;
  --line-height: 1.5;
}

html {
	font-family: var(--font-primary);
	background: var(--color-secondary);
	color: var(--color-black);
	font-weight: 500;
}

.big {
	font-size: 24px;
}

.medium {
	font-size: 20px;
}

.bold {
	font-weight: bold;
}

.scai {
	background: url('scai_logo_t_white.png');
}

.baskin {
	background: url('baskin.png');
}

@media screen and (min-width:320px) {
	ul {
		list-style-type: none;
		line-height: 1.25;
		margin-left: -40px;
	}

	ul li {
		margin-top: 15px;
	}

	header {
		width: 100%;
		z-index: 2;
		background: var(--color-secondary);
		position: fixed;
		padding: 10px;
		padding-bottom: 7px;
	}

	.main-navigation-toggle + label {
		top: 12px;
		right: 10px;
	}

	#logo-img {
		background: url('scai_logo_t.png');
		background-repeat: no-repeat;
		background-size: cover;
		height: 35px;
		width: 35px;
	}

	#logo {
		display: flex;
		/*justify-content: space-between;*/
	}

	#logo h1 {
		margin: 0;
		margin-left: 10px;
		color: #114e82;
		font-size: 12px;
	}

	#header-image {
		padding-top: 40px;
		display: flex;
		justify-content: center;
		align-items: center;
		background: url('scai-header.jpg');
		background-size: cover;
		width: 100%;
		height: 250px;
		-webkit-filter: grayscale(5%);
        -moz-filter: grayscale(5%);
        -ms-filter: grayscale(5%);
        -o-filter: grayscale(5%);
        filter: grayscale(5%);
        clip-path: polygon(0 0, 100% 0, 100% 95%, 0 100%);
	}

	.center-image {
		display: flex;
		justify-content: space-between;
		align-items: center;
		color: white;
		width: 75%;
	}

	.image-content {
		height: 50px;
		background-size: cover;
		background-repeat: no-repeat;
	}

	.baskin {
		width: 130px;
	}

	.scai {
		width: 50px;
	}

	#announcements {
		margin: 25px;
		margin-bottom: 0px;
		clip-path: polygon(0 0, 100% 0, 100% 95%, 0 100%);
	}

	#join {
		width: auto;
		height: 50px;
		background: url('discord.png');
		background-size: contain;
		background-repeat: no-repeat;
	}

	#content #apply {
		background: clear;
		text-transform: uppercase;
		letter-spacing: 2px;
		font-family: var(--font-heading);
		font-weight: 700;
		padding: 12px;
		text-decoration: none;
		border: 1px solid var(--color-primary);
		color: var(--color-primary);
		margin-bottom: 500px;
		cursor: pointer;
	}

	#content {
		margin: 25px;
		margin-bottom: 0px;
	}

	#content h1, #beginner-explained h1, #advanced-explained h1, #announcements h1 {
		margin: 10px 0px 30px 0px;
		font-family: var(--font-heading);
		font-size: 24px;
	}

	#content p, #beginner-explained p, #advanced-explained p,, #announcements p {
		margin: 10px 0px 30px 0px;
		line-height: 1.75;
	}

	#content p a, #beginner-explained p a, #advanced-explained p a, #announcements p a {
		color: var(--color-primary);
		font-weight: 800;
		text-decoration: none;
	}

	#beginner {
		background: var(--color-primary);
		color: var(--color-secondary);
		padding: 25px;
		clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 100%);
	}

	#beginner-explained, #advanced-explained {
		margin: 25px;
	}

	#advanced {
		clip-path: polygon(0 0, 100% 15%, 100% 100%, 0 100%);
		background: #FDC80B;
		color: var(--color-black);
		padding: 25px;
	}

	footer {
		padding: 35px;
		background: var(--color-black);
		color: var(--color-secondary);
	}
}

@media screen and (min-width:720px) {
	header {
		padding: 18px;
	}

	.main-navigation li {
		font-size: 48px;
		padding-left: 20px;
	}

	#header-image {
		height: 400px;
	}

	.center-image {
		width: 60%;
	}

	#content, #announcements {
		margin: 75px;
		margin-bottom: 25px;
	}

	#beginner, #advanced {
		padding-left: 75px;
		padding-right: 75px;
	}

	#beginner-explained, #advanced-explained {
		margin: 50px 75px 50px 75px;
	}
}

@media screen and (min-width:1080px) {
	header {
		padding: 10px 200px 10px 200px;
	}

	.main-navigation-toggle + label {
		top: 4px;
		right: 200px;
	}

	.main-navigation li {
		font-size: 64px;
	}

	#header-image {
		height: 550px;
	}

	.center-image {
		width: 50%;
	}

	.image-content {
		height: 75px;
	}

	.baskin {
		width: 195px;
	}

	.scai {
		width: 75px;
	}

	#content, #announcements {
		margin: 50px 200px 25px 200px;
	}

	#beginner, #advanced {
		padding: 20px 200px 25px 200px;
		text-align: right;
	}

	#beginner-explained, #advanced-explained {
		margin: 50px 200px 50px 200px;
	}

	footer {
		padding:  50px 200px 50px 200px;
	}
}

@media screen and (min-width:1400px) {
	.big {
		font-size: 36px;
	}

	header {
		padding: 10px 300px 10px 300px;
	}

	.main-navigation-toggle + label {
		top: 2px;
		right: 300px;
	}

	#header-image {
		height: 700px;
		background-position: 50% 35%;
	}

	.center-image {
		width: 40%;
	}

	#content, #announcements {
		margin: 50px 300px 25px 300px;
	}

	#beginner, #advanced {
		padding: 20px 300px 25px 300px;
	}

	#beginner-explained, #advanced-explained {
		margin: 50px 300px 50px 300px;
	}

	footer {
		padding:  50px 300px 50px 300px;
	}
}

@media screen and (min-width:1800px) {
	header {
		padding: 15px 500px 15px 500px;
	}

	.main-navigation-toggle + label {
		top: 3px;
		right: 500px;
	}

	#content, #announcements {
		margin: 50px 500px 25px 500px;
	}

	#beginner, #advanced {
		padding: 20px 500px 25px 500px;
	}

	#beginner-explained, #advanced-explained {
		margin: 50px 500px 50px 500px;
	}

	footer {
		padding:  50px 500px 50px 500px;
	}
}
